/* Estilos gerais */
body {
  background-color: #38b000;
  margin: 0;
}

/* Estilos do cabeçalho */
.div-menu {
  width: 98%;
  height: 100px;
}

.header-pagina {
  background-color: #4c4c4c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 5px;
  width: calc(100% - 10px);
  border-radius: 20px;
  padding: 0 20px;
}

.header-pagina p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
}

.header-pagina nav {
  display: flex;
  margin: 5px;
  list-style: none;
  justify-content: center; /* Centralizar os links */
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
}

.header-pagina nav li {
  margin: 0 10px; /* Espaçamento dos itens */
  margin-top: 22px;
}

.header-pagina nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}

.header-pagina .div-usuario {
  display: flex;
  align-items: center;
  margin-left: auto; /* Colocar a div do usuário à direita */
}

.header-pagina .usuario {
  height: 80px;
  width: 90px;
  border-radius: 50%; /* Forma circular */
  object-fit: cover;
  margin-left: 10px; /* Espaçamento entre a foto e o texto */
}

.svg-xbox {
  filter: brightness(0) invert(1);
  height: 65px;
  width: 65px;
  margin-right: 10px; /* Espaçamento do ícone do Xbox com o texto */
}

.menu-pagina-inicial {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-pagina-inicial {
  display: flex;
}

.nav-pagina-inicial nav {
  flex-direction: column;
  width: 100%;
}

.nav-pagina-inicial nav li {
  margin: 10px 0;
}

.nav-pagina-inicial.show {
  display: flex;
}

/* Estilos da seção de jogos */
.div-game {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 700px;
  margin: auto;
  margin-top: 150px;
}

.games img {
  width: 100%;
  height: 700px;
  display: none;
}

.games img.active {
  display: block;
}

.voltar,
.proximo {
  cursor: pointer;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  font-size: 32px;
  font-weight: bold;
  user-select: none;
}

.proximo {
  right: 0;
}

.voltar:hover,
.proximo:hover {
  transition: 0.2s;
  background-color: black;
  border-radius: 3px;
}

.n_jogos {
  color: white;
  background-color: black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.i_text {
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.ponto {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0px 2px;
  background-color: rgba(175, 25, 25, 0.774);
  border-radius: 50%;
  display: inline-block;
  z-index: 10; /* Certifique-se de que os pontos estejam acima de outros elementos */
}

.active,
.ponto:hover {
  transition: 0.5s;
  background-color: #717171;
}

.dots_box {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.games {
  -webkit-animation-name: animacao;
  -webkit-animation-duration: 1.5s;
  animation-name: animacao;
  animation-duration: 1.5s;
}

@keyframes animacao {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animacao {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Estilos do botão de pré-encomenda */
.botao-pré-encomenda {
  background-color: #38b000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  width: 200px;
  height: 50px;
  display: block;
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-style: groove;
  border-color: #4c4c4c;
  cursor: pointer;
}

.botao-pré-encomenda:hover {
  background-color: crimson;
}

/* Estilos dos botões de acesso rápido */
.div-botoes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1865px;
  height: 200px;
  position: relative;
  margin-top: 5%;
}

.container-headset,
.container-play,
.container-usuario,
.container-logout {
  width: 150px;
  height: 150px;
  position: relative;
}

.container-headset {
  order: 1;
}

.container-play {
  order: 2;
}

.container-usuario {
  order: 3;
}

.container-logout {
  order: 4;
}

.container-headset input,
.container-play input,
.container-usuario input,
.container-logout input {
  width: 150px;
  height: 150px;
}

.headset,
.play,
.user,
.logout {
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.container-headset label,
.container-play label,
.container-usuario label,
.container-logout label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px; /* Exemplo de tamanho de fonte ajustável */
  color: white;
  position: absolute;
  top: 120%; /* Ajuste conforme necessário para o alinhamento vertical */
  left: 50%; /* Ajuste conforme necessário para o alinhamento horizontal */
  transform: translate(-50%, -50%); /* Centraliza o label no container */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .header-pagina p {
    font-size: 24px;
  }

  .header-pagina nav {
    font-size: 16px;
  }

  .header-pagina .usuario {
    height: 60px;
    width: 70px;
  }

  .svg-xbox {
    height: 50px;
    width: 50px;
  }

  .botao-pré-encomenda {
    font-size: 14px;
    width: 150px;
    height: 40px;
    top: 25%;
  }

  .div-botoes {
    flex-direction: column;
    align-items: center;
    top: 30%;
  }

  .container-headset,
  .container-play,
  .container-usuario,
  .container-logout {
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  .container-headset input,
  .container-play input,
  .container-usuario input,
  .container-logout input {
    width: 80px;
    height: 80px;
  }

  .container-play label {
    top: 130px;
  }

  .container-usuario label {
    top: 75%;
    font-size: 16px;
  }

  .container-logout label {
    top: 80%;
    right: 5%;
  }
}

@media (max-width: 480px) {
  .header-pagina p {
    font-size: 20px;
  }

  .header-pagina nav {
    font-size: 14px;
  }

  .header-pagina .usuario {
    height: 50px;
    width: 60px;
  }

  .svg-xbox {
    height: 40px;
    width: 40px;
  }

  .botao-pré-encomenda {
    font-size: 12px;
    width: 130px;
    height: 30px;
    top: 20%;
  }

  .div-botoes {
    flex-direction: column;
    align-items: center;
    top: 25%;
  }

  .container-headset,
  .container-play,
  .container-usuario,
  .container-logout {
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .container-headset input,
  .container-play input,
  .container-usuario input,
  .container-logout input {
    width: 60px;
    height: 60px;
  }

  .container-play label {
    top: 110px;
    font-size: 14px;
  }

  .container-usuario label {
    top: 70%;
    font-size: 14px;
  }

  .container-logout label {
    top: 75%;
    right: 5%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header-pagina p {
    font-size: 20px;
  }

  .header-pagina nav {
    font-size: 14px;
  }

  .header-pagina .usuario {
    height: 50px;
    width: 60px;
  }

  .svg-xbox {
    height: 40px;
    width: 40px;
  }

  .botao-pré-encomenda {
    font-size: 12px;
    width: 120px;
    height: 30px;
    top: 10%;
  }

  .div-botoes {
    display: flex; /* Adicionei para garantir que o flex funcione corretamente */
    flex-direction: column;
    align-items: center;
    margin-top: 25px; /* Substituí 'top' por 'margin-top' para espaçamento */
  }

  .div-botoes > * {
    margin-bottom: 20px; /* Adicionado espaçamento entre os elementos */
  }

  .container-headset,
  .container-play,
  .container-usuario,
  .container-logout {
    width: 80px;
    height: 80px;
    margin: 10px; /* Ajustado para espaçamento entre os containers */
  }

  .container-headset input,
  .container-play input,
  .container-usuario input,
  .container-logout input {
    width: 60px;
    height: 60px;
  }

  .container-play label {
    margin-top: 10px; /* Substituí 'top' por 'margin-top' para espaçamento */
    font-size: 14px;
  }

  .container-usuario label {
    margin-top: 10px; /* Substituí 'top' por 'margin-top' para espaçamento */
    font-size: 14px;
  }

  .container-logout label {
    margin-top: 10px; /* Substituí 'top' por 'margin-top' para espaçamento */
    font-size: 14px;
    right: 5%;
  }

  .div-game img {
    width: 445px;
    height: 500px;
  }
}

@media (max-width: 768px) {
  .header-pagina p {
    font-size: 20px;
  }

  .header-pagina nav {
    font-size: 14px;
  }

  .header-pagina .usuario {
    height: 50px;
    width: 60px;
  }

  .svg-xbox {
    height: 40px;
    width: 40px;
  }

  .botao-pré-encomenda {
    font-size: 16px;
    width: 170px;
    height: 50px;
    top: 25%;
  }

  .div-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 100%;
    width: 100%;
  }

  .div-botoes > * {
    margin-bottom: 20px;
  }

  .container-headset,
  .container-play,
  .container-usuario,
  .container-logout {
    width: 100px;
    height: 100px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-headset input,
  .container-play input,
  .container-usuario input,
  .container-logout input {
    width: 100px;
    height: 100px;
  }

  .container-play label,
  .container-headset label,
  .container-usuario label,
  .container-logout label {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: block;
  }
}
