body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #4c4c4c;
  padding: 20px;
  box-sizing: border-box;
}

.div-header {
  background-color: #38b000;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.xbox,
.biblioteca,
.nuvem,
.carrinho,
.configuracao,
.voltar,
.pesquisar {
  width: 60px;
  height: auto;
  max-width: 100%;
  margin-right: 5px; /* Reduz a margem entre os ícones */
}

.voltar-pagina-inicial {
  width: 70px; /* Ajuste o tamanho desejado */
  height: 70px; /* Ajuste o tamanho desejado */
}

.caixa-texto {
  flex: 1; /* Ocupa o espaço restante */
  max-width: 300px;
  background-color: #4c4c4c;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: white;
  padding: 0 10px;
  box-sizing: border-box;
  margin-left: 10px; /* Reduz a margem à esquerda da caixa de texto */
}

.usuario {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px; /* Reduz a margem entre a imagem do usuário e o ícone anterior */
}

.label-usuario {
  margin-left: 5px; /* Reduz a margem entre a imagem do usuário e o texto */
}

@media screen and (max-width: 768px) {
  .div-header {
    flex-direction: column;
    align-items: center;
  }

  .caixa-texto {
    width: 80%;
    max-width: none;
    margin: 10px 0; /* Ajusta a margem vertical da caixa de texto */
  }

  .usuario {
    width: 80px;
    height: 80px;
    margin-left: 0; /* Remove a margem entre a imagem do usuário e o ícone anterior em telas menores */
  }

  .label-usuario {
    margin: 5px 0; /* Ajusta a margem vertical do texto do usuário */
  }
}

label {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  text-align: center;
}

.div-usuario {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-xbox {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
  text-align: center;
}

.card-xbox img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-xbox:hover {
  transform: scale(1.05);
}

.card-xbox-conteudo {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}

.card-xbox-titulo {
  margin: 0 0 8px 0;
  font-size: 1.0em;
  color: #333;
}

.card-descricao {
  font-size: 1em;
  color: #666;
}

.divfooter {
  background-color: #38b000;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}

footer {
  color: #fff;
  font-size: 14px;
}

.div-game {
  position: relative;
  max-width: 1800px;
  margin: auto;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}


.div-game {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  margin: auto;
  margin-top: 10px;
}

.games img {
  width: 100%;
  height: 700px;
  display: none;
}

.games img.active {
  display: block;
}

.voltar,
.proximo {
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  font-size: 2rem; /* 32px */
  font-weight: bold;
  user-select: none;
}

.proximo {
  right: 0;
}

.voltar:hover,
.proximo:hover {
  transition: 0.2s;
  background-color: black;
  border-radius: 3px;
}

.n_jogos {
  color: white;
  background-color: black;
  font-size: 1.875rem; /* 30px */
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.i_text {
  color: white;
  background-color: black;
  font-size: 1.875rem; /* 30px */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.ponto {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0px 2px;
  background-color: rgba(175, 25, 25, 0.774);
  border-radius: 50%;
  display: inline-block;
  z-index: 10;
}

.active,
.ponto:hover {
  transition: 0.5s;
  background-color: #717171;
}

.dots_box {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.games {
  animation: animacao 1.5s;
}

@keyframes animacao {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}